#main {
  margin: auto;
  width: 512px;
  font-family: 'Poor Story', 'comic sans ms', cursive;
}

@keyframes taylorswift {
  50% {color: #B603FC;}
}

#title {
  margin: auto;
  font-size: 6em;
  color: #FF00FF;
  background-color: #FFFFFF;
  text-align: center;
  animation-name: taylorswift;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#img-div {
  background-color: #FF00FF;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
}

#img-heading {
}

#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}
#img-caption {
}

@keyframes ready {
  100% {
    font-weight: bold;
    color: #FF00FF;
    background-color: #FFFFFF;
    text-align: center;
    opacity: 0.8;
  }
}
#img-div:hover {
  animation-name: ready;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

#tribute-info {
  font-size: 20px;
  color: #B603FC;
  display: grid;
  grid-template-columns: 40% 60%;
}

#discography {
  text-align: left;
}

#tours {
  text-align: left;
}

#footer {
  text-align: center;
  background-color: #FF00FF;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  font-weight: bold;
}

li:hover {
  font-weight: bold;
  color: #FF00FF;
  cursor: default;
}